.news {
  width: 100%;
  padding: 20px 0px;
  background-color: #f8f9fa;
  .container {
    max-width: 1200px;
    padding: 10px 0px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    gap: 10px;
    span {
      font-size: 56px;
    }
    p {
      font-size: 20px;
      color: #c6c7c7;
      margin-inline: 300px;
    }
    .cards {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .card {
      width: 30%;
      height: 600px;
      display: flex;
      flex-direction: column;
      background-color: white;
      align-items: center;
      overflow: hidden;
      gap: 10px;
      padding: 0px 10px;
      .span {
        color: #fda403;
      }
      .p {
        margin-inline: 0px;
      }
      .caruselbtn {
        padding: 5px 10px;
        background-color: #fda403;
        border: none;
        color: white;
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .news {
    .container {
      p {
        margin-inline: 0px;
      }
      .cards {
        gap: 10px;
        flex-direction: column;
        .card {
          width: 90%;
          height: 650px;
        }
      }
    }
  }
}
